<div class="wrapper">

  <nav class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item"><a href="#one" class="pagination__item-link" data-index = "1"></a></li>
      <li class="pagination__item"><a href="#two" class="pagination__item-link" data-index = "2"></a></li>
      <li class="pagination__item"><a href="#three" class="pagination__item-link" data-index = "3"></a></li>
      <li class="pagination__item"><a href="#four" class="pagination__item-link" data-index = "4"></a></li>
    </ul>
  </nav>

  <div class="maincontent">

    <section id="one" class="page" data-section="one">
      <h1>One-3.0</h1>
    </section>
    <section id="two" class="page" data-section="two">
      <h1>Two-3.0</h1>
    </section>
    <section id="three" class="page" data-section="three">
      <h1>Three-3.0</h1>
    </section>
    <section id="four" class="page" data-section="four">
      <h1>Four-3.0</h1>
    </section>

  </div>
</div>